@mixin search-box {
  form {
    position: relative;
    input[type=text] {
      &:focus {
//        outline: 3px $brand-primary solid;
        color: white;
        background: none;
        box-shadow: none;
        border-bottom-color: $brand-primary;
        + button .search {
          color: $brand-primary;
        }
      }
        border: none;
        padding: 3px;
        min-width: 255px;
        display: none;
        color: $gray-light;
        background: none;
        border-bottom: $input-btn-border-width solid $gray-light;
    }
    button[type=submit] {
//      position: absolute;
      background: none;
      border: none;
            margin-right: .5rem;
//      bottom: 0.3125rem;
//      right: 0.125rem;
      color: $brand-primary;
        > * {
            vertical-align: middle;
        }
      .search:hover {
        color: $gray-light;
      }
    }
  }
}

@mixin box-shadow {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-light {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
