#block-reassurance{
    margin-top: 2rem;
    color: $brand-primary;
  img{
    margin-bottom: 1em;
  }
  li{
//    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    &:last-child {
      border: 0;
    }
  }
  li .block-reassurance-item {
    padding: 1rem 1.5rem;
    font-size: .875rem;
  }
//  #product &{
//    @include box-shadow;
//    background: $gray;
//    span{
//      font-weight: 700;
//    }
//  }
}
#cart,
#checkout {
    #block-reassurance {
        li {
            &:nth-child(2) {
                .block-reassurance-item {
                    img {margin-right: 2.1rem;}
                }
            }
        }
    }
}
#order-confirmation {
    #block-reassurance {display: none;}
}
