#custom-text {
    background: transparent;
    border-radius: 2px;
    margin-bottom: 1.5rem;
    padding: 3.125rem 3.125rem;
    text-align: center;
    h2 {
        //    text-transform: uppercase;
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: .5em;
    }
    h3 {
        font-weight: 400;
        font-size: .875rem;
    }
    p {
        color: white;
        font-weight: 400;
        font-size: .875rem;
        .dark {
            color: $gray-light;
            font-weight: 400;
        }
    }
}

.page-content.page-cms {
    background: $gray;
    padding: 1.25rem 0;
    text-align: justify;
    .cms-box {
        img {
            max-width: 100%;
        }
    }
}

#cms {
    .page-header {
        h1 {
            text-align: center;
            margin-bottom: 4rem;
            margin-left: 1rem;
            margin-right: 1rem;
            border-bottom: 1px solid $brand-primary;
            padding-bottom: 2rem;
        }
    }
    .cms-sub-pages {
        width: 100%;
        display: block;
        min-height: 15.8rem;
        background-repeat: no-repeat;
        position: relative;
        transform: scale(.9);
        transition: all .5s;
        background-size: cover;
        span {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;            
            padding: 1rem;
            display: block;
            background-color: rgba(0,0,0,.5);
        }
        &:hover {
            transform: scale(1);
            color: $brand-primary;
        }
    }
}

@include media-breakpoint-down(md) {
    #block-cmsinfo {
        padding: $medium-space $large-space;
    }
    #custom-text {
        padding: 1rem;
        h2 {font-size: 2.5rem;}
    }

}

@include media-breakpoint-down(sm) {
    #cms {
        .page-header {
            h1 {
                text-align: left;
                padding-bottom: 1rem;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
 