.dropdown{
  color:$brand-primary;
  &:hover .expand-more{
    color: $gray-light;
  }
  .expand-more{
    color: $brand-primary;
    cursor: pointer;
    user-select: none;

  }

  .active{
    max-height: 200px;
    overflow-y: hidden;
    visibility: visible;
  }

  select {
    -moz-appearance: none;
    border: 0 none;
    outline: 0 none;
    color: $brand-primary;
    background: $gray-darker;
  }
}

.dropdown-item:focus, .dropdown-item:hover {
  background: none;
  text-decoration: none;
  color: $brand-primary;
}

.dropdown-menu {
    color: $brand-primary;
    background: $gray;
    > li {
        a {font-size: .75rem;}
    }
}