#js-product-list-header {
    padding-left: 1rem;
}
#products,
#pagenotfound {    
  #main {
    .page-header {
      margin: 2rem 0 3rem;
    }
    .page-content {
      margin-bottom: 10rem;
    }
  }
  .page-not-found {
    padding-top: 1rem;
    font-size: $font-size-sm;
    color: $brand-primary;
//    max-width: 570px;
    margin: 0 auto;
    h4 {
      font-size: $base-font-size;
      font-weight: 700;
      margin: 0.5rem 0 1rem;
    }
    .search-widget {
        float: none;
        color: $brand-primary;
        background: $gray-lighter;
        padding: .75rem 1rem;
        form {
            display: flex;
        }
        input[type=text] {
            width: 100%;
            border-bottom: none;
            display: block;
        }
        button[type=submit] {
//            position: absolute;
//            right: -2.25rem;
//            bottom: .125rem;
            border-left: 1px solid $gray-light;
            margin-right: 0;
            padding-left: 1rem;
        }
    }
  }
}

@include media-breakpoint-down(xs) {
    #products,
    #pagenotfound {
        .page-not-found {
            input[type=text] {min-width: auto;}
        }
    }
}