.reassurance {
    background-color: $gray;
}
.float-xs-right {
    float: right;
}
.material-icons {
    &.add {
        color: $gray-light;
    }
}
.block_newsletter {
  @include search-box;
  font-size: $font-size-sm;
  p {
    padding-top: $small-space;
  }
  form {
    .input-wrapper {
      overflow: hidden;
    }
    input[type=email] {
      padding: 11px;
      &:focus {
        border: 3px $brand-primary solid;
        padding: 8px 8px 9px;
        outline: 0;
      }
      width: 100%;
    }
    input {
      height: 42px;
      box-shadow: none;
    }
  }
  margin-bottom: 0.625rem;
}
.block-contact {
//  padding-left: 3rem;
  color: $brand-primary;
    font-size: .6875rem;
  .block-contact-title{
    color: $brand-primary;
  }
}
.linklist {
  .blockcms-title a {
    color:white;
      &:hover {
          color: $gray;
      }
  }
}
.account-list a {
  color: white;
  &:hover {
    color: $gray;
  }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-weight: 700;
  font-size: 0.875rem;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
}
.block-social {
  margin-top: 1rem;
  text-align: left;
}
.block-social li {
//  height: 2.5rem;
//  width: 2.5rem;
//  background-color: $gray-light;
//  background-repeat: no-repeat;
//  margin: 0.125rem;
    display: inline-block;
    background: url('../img/img-sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    cursor: pointer;
    margin: 0.125rem;
    
  &:hover {
    transform: scale(1.1);
  }
  a {
    display: block;
    height: 100%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
      border-bottom: none;
      transform: scale(.9);
//      -webkit-backface-visibility: hidden; 
//    transform: translateZ(0);
    &:hover {
      color: transparent;
    }
  }
}
.facebook {
    
    &:not(.icon-gray) {
        background-position: -2px -540px!important; 
        width: 35px; 
        height: 35px;
    }
      &.icon-gray {
        background-position: -2px -0px;
        width: 55px;
        height: 55px;
    &:hover {
        transform: scale(1);
                    transform: translateZ(0);
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    }
  }
}
.twitter {
  background-image: url(../img/twitter.svg);
  &::before{
    content:"";
    background-image: url(../img/twitter-blue.svg);
  }
  &.icon-gray {
      background-position: -2px -171px; 
      width: 55px; 
      height: 55px;
    &:hover {
        transform: scale(1);
            transform: translateZ(0);
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    }
  }
}
.rss {
  background-image: url(../img/rss.svg);
}
.youtube {
  background-image: url(../img/youtube.svg);
}
.googleplus {
  background-image: url(../img/gplus.svg);
  &::before{
    content:"";
    background-image: url(../img/gplus-blue.svg);
  }
  &.icon-gray {
      background-position: -2px -57px; 
      width: 55px; 
      height: 55px;
    &:hover {
        transform: scale(1);
    }
  }
}
#block_myaccount_infos{
  .myaccount-title a{
    color:white;
  }
}
.pinterest {
  background-image: url(../img/pinterest.svg);
  &::before{
    content:"";
    background-image: url(../img/pinterest-blue.svg);
  }
  &.icon-gray {
      background-position: -2px -114px; 
      width: 55px; 
      height: 55px;
    &:hover {
        transform: scale(1);
    }
  }
}
.vimeo {
  background-image: url(../img/vimeo.svg);
}
.instagram {
    background-position: -2px -577px!important; 
    width: 35px; 
    height: 35px;
}
.footer-container {
  margin-top: $medium-space;
  padding-top: $medium-space;
  overflow: hidden;
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.3);
  li {
    margin-bottom: 0.3125rem;
  }
  li a {
    color: $gray-light;
    cursor: pointer;
//    font-size: $font-size-sm;
    font-size: .6875rem;
    &:hover {
      color: white;
    }
  }
    
}
.links {
    .h3 {
        font-size: 0.875rem;
        text-transform: none;
        letter-spacing: 1.5px;
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
    }
  .collapse {
    display: inherit;
  }
    &:not(.block-contact) {
        li {
            a {
                background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#848484" d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>');
                background-repeat: no-repeat;
                background-position-x: -.5rem;
                background-size: 1.2rem;
                background-position-y: center;                
                display: block; 
                padding: .75rem;
            }
            &:not(:last-child) {
                border-bottom: 1px solid rgba(132,132,132,.5);
            }
        }
        
    }
}
.container-fluid {
    &.copyright {
        padding: 1rem 0;
        > .row {
            margin: 1rem;
            border-top: 1px solid rgba(132,132,132,.5);
            padding-top: 1rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .container-fluid {
        &.copyright {
            padding-top: 0;
            > .row {
                margin: 0;
                padding-left: 1rem;
            }
        }
    }
    #block-contact-footer {
        padding-top: 1rem;
        border-bottom: 1px solid #fff;
        li {
            border-bottom: none;
        }
    }
  .block_newsletter {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid $gray-lighter;
  }
  .footer-container {
    box-shadow: none;
    margin-top: 0;
      padding-top: 0;
    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .links {
      .h3 {
        line-height: 1.5;
        font-size: 1rem;
      }
      ul {
        background-color: black;
        margin-bottom: 0;
          
//           background: $gray-light url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>') no-repeat scroll right 0.5rem center / 1.25rem 1.25rem;
        > li {
          padding: 0.625rem;
          border-bottom: 1px solid white;
          font-weight: bold;
          a {
            color: $gray-light;
          }
        }
      }
    }
  }
  .links {
    .collapse {
      display: none;
      &.in,
      &.show {
        display: block;
          margin: 0 1rem;
          transition: all .5s ease;
      }
    }
    .title {
      padding: 0.625rem;      
      cursor: pointer;
        margin: 0 15px;
        padding: .625rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid $gray-lighter;
        }
      .collapse-icons .remove {
        display: none;
      }
    }
    .title[aria-expanded="true"] .collapse-icons {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
  }
}
@include media-breakpoint-down(md) {
  .block-social {
    margin-bottom: 1rem;
  }
  .block-contact {
    padding-left: 1.5rem;
  }
}
