.top-menu {
    background-color: black;
  &[data-depth="1"] {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    background: transparent;
      >li {
          &:not(:last-child) {
              border-bottom: 1px solid $gray-light;
          }
      }
  }
  a:not([data-depth="0"]) {
    display: block;
    padding: 0.625rem;
    color: $gray;
    font-weight: 400;
  }
  a.dropdown-submenu {
    color: $gray-darker;
    text-transform: uppercase;
    font-weight: 600;
  }
  a[data-depth="0"] {
    font-weight: 600;
    padding: 0.1875rem $small-space 0.375rem;
    &:hover {
      #header & {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  a[data-depth="1"],
  a[data-depth="2"] {
      padding: .625rem 0;
  }
  .collapse {
    display: inherit;
  }
  .collapse-icons {padding: 0;}
  .sub-menu {
    &.collapse {
      display: none;
    }
    box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.1);
    border: none;
    margin-left: 0.9375rem;
//    width: calc(100% - 30vw);
    min-width: calc(100% - 30vw);
    z-index: 18;
    display: none;
    ul[data-depth="1"] > li {
      float: left;
      margin: 0 1.25rem;
    }
    a:hover {
      color: $brand-primary;
    }
  }
  .popover {
    max-width: inherit;
    border-radius: 0;
  }
}
.popover.bs-tether-element-attached-top {
  margin-top: 0;
}

#_desktop_top_menu {
  .top-menu {
    &[data-depth="0"] {
      li {
          .collapse-icons {
              .add {
                display: inline-block;
                  color: $brand-primary;
              }
              .remove {
                display: none;
              }
          }
        &:hover {
            .collapse-icons {
              .add {
                display: none;
              }
              .remove {
                display: inline-block;
                }
            }
          .sub-menu {
              top: 100%;
            display: block !important;
              background-color: rgba(132,132,132,0.5);
          }
        }
      }
    }
  }
}

#mobile_top_menu_wrapper {
  padding: 15px;
  background: $gray-lighter;
  #top-menu {
    margin-bottom: 0;
      background: none;
      width: 100%;
      
  }
  .top-menu {
    color: $brand-primary;
    .collapse-icons[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .material-icons.add {color: $brand-primary;}
    .collapse-icons .remove {
      display: none;
    }
    .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
      li {
          border-bottom: 1px solid $gray-light;
        &:last-child {
            border-bottom: none;
        }
      }
    a[data-depth="0"] {
      padding: 0.625rem 0;      
    }
    .collapse {
      display: none;
      &.in,
        &.show {
        display: block;
      }
    }
    .sub-menu {
      &.collapse {
        display: none;
        &.in,
        &.show {
          display: block;
        }
      }
      box-shadow: none;
      z-index: inherit;
      display: block;
      position: static;
      overflow: hidden;
      margin-left: 0;
      width: 100%;
      min-width: 100%;
      background: inherit;
      ul[data-depth="0"] > li {
        border-bottom: 1px solid $gray;
      }
      ul[data-depth="1"] {
        margin: 0;
        padding-left: 1rem;          
        > li {
          float: none;
          margin: 0;
          border-bottom: none;
          a {
              padding: .625rem 0;
          }
        }
      }
      ul {
        padding: 0;
      }
      li > a {
        padding: .625rem 0;
        border-bottom: none;
        font-weight: bold;
      }
      ul[data-depth="2"] li a {
        padding-left: 1.25rem;
      }
      ul[data-depth="3"] li a {
        padding-left: 2.5rem;
      }
      ul[data-depth="4"] li a {
        padding-left: 3.75rem;
      }
    }
  }
  .js-top-menu-bottom {
    a {
      color: $gray;
    }
    .language-selector-wrapper {
      padding: 0.625rem;
      .language-selector {
        display: inline;
      }
    }
    .currency-selector {
      padding: 0.625rem;
    }
    #contact-link {
      padding: 0.625rem;
    }
    .user-info {
      padding: 0 0.625rem;
      a {
        padding: 0.625rem 0;
        display: block;
        width: 100%;
      }
    }
  }
}
